extends layout

block content
  div.container
    div.hero-unit
      h1= title
      p Welcome to #{title}. That that was redudant tag line.
      form#form-specs.form-inline
        div#dropdown.btn-group
          a.btn.btn-large.dropdown-toggle(data-toggle='dropdown', href='#') Select a model&nbsp;&nbsp;&nbsp;
            span.caret
          ul.dropdown-menu
            each model in models
              li
                a(href='##{model.slug}', data-img='#{model.img}') #{model.name}
        label#modifier Modifier: 
          input.input-small(type='text', placeholder='none', value='two-col', data-toggle='popover', data-placement='bottom', data-trigger='focus', data-html='true', data-title='Modifier CSS Class', data-content='Applied to <code>div.specifications-set</code> to enable custom styling per vehicle.')
        label#minified.checkbox
          input(type='checkbox', checked)
          |  Minified output
        button#submit.btn.btn-primary.btn-large(disabled, data-loading-text='Fetching specs...') Get Specs
        //- span#help.help-inline
        //-   i.icon-exclamation-sign
        //-   |  Select a model first!
    div#results.row-fluid
      div.span4
        h3 Model Name
        img#image
        button#modal-trigger.btn.btn-success.btn-large View in modal
      div.span8
        textarea#html
  div#gallery-overlay
  div#gallery-modal
    h3
    div.gallery-content
    //- div.gallery-footer
    //-   span.current-item
    //-   span.slash  / 
    //-   span.total-items
    //- a.prev(href='#')
    //- a.next(href='#')
    a.close(href='#')